
.cv-list-section h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 3vw 0;
    margin-bottom: 2vw;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.iits-cv-btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.form-section .section-heading {
    font-size: 32px;
    font-weight: 600;
    border-bottom: 1px solid rgb(212, 212, 212);
    margin-top: 3vw;
    margin-bottom: 2vw;
}

a.github-fork-ribbon::before {
    background-color: #0275d8;
}

.footer {
    font-size: 16px;
}

.footer .social-icons-container {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
}

.footer .social-icons-container i {
    font-size: 22px;
}

.external, .external a {
    font-size: 22px;
    font-weight: bold;
}