@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.iitm-cv-container {
    display: flex;
    flex-direction: column;
    font-family: "Varela Round", sans-serif;
    padding: 4vw;
    font-size: 16px;
}

.iitm-cv-container .section-heading {
    font-size: 24px;
    font-weight: 600;
    color: #0d8fcd;
    border-bottom: 1px solid #0d8fcd;
    margin: 0;
    margin-top: 20px;
}

/*
Table Styling Start
*/

.iitm-cv-container table {
    width: 100%;
}

.iitm-cv-container table .table-header {
    border-bottom: 1px solid #0d8fcd;
}

.iitm-cv-container table .table-header th {
    color: #0d8fcd;
    font-weight: 100;
    font-size: 18px;
}

/*
Table Styling End
*/

/*
List Styling Start
*/

.iitm-cv-container ul {
    list-style-type: circle;
    list-style-position: outside;
    margin-bottom: 0;
}

.iitm-cv-container ul li.heading {
    font-weight: bold;
    margin: 0;
    padding-left: 0;
}

.iitm-cv-container ul li.heading::marker {
    content: "";
}

.iitm-cv-container ul li {
    margin-left: 8px;
    padding-left: 5px;
}

.iitm-cv-container ul li::marker,
.list-table tr td::before {
    content: "\25cb";
    color: #0d8fcd;
    font-size: 16px;
}

.list-table tr td::before {
    margin-right: 5px;
}

/*
List Styling End
*/

/*
Header Section Start
*/
.iitm-cv-container .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iitm-cv-container .header h1 {
    font-size: 38px;
    font-weight: 100;
    color: #b7bece;
}

.iitm-cv-container .header .name {
    font-size: 38px;
    color: #0d8fcd;
    font-weight: 600;
}

.iitm-cv-container .header .roll {
    font-size: 38px;
    font-weight: 400;
}

.iitm-cv-container .header .campus {
    font-size: 24px;
    font-weight: 600;
}

.iitm-cv-container .header img {
    width: 150px;
}

/*
Header Section End
*/

/*
Projects Section Start
*/

.iitm-cv-container .projects ul li.heading {
    display: flex;
    justify-content: space-between;
}

.iitm-cv-container .projects ul li.heading span:nth-child(1) {
    display: flex;
}

.iitm-cv-container .projects ul li.heading span:nth-child(1) .timeline {
    font-weight: normal;
    margin-left: 10px;
}

.iitm-cv-container .projects ul li.heading span:nth-child(2) {
    font-weight: normal;
    font-style: italic;
}
