@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');


.iitb-cv-container {
    display: flex;
    flex-direction: column;
    font-family: 'EB Garamond', serif;
    padding: 2vw;
    font-size: 16px;
    color: #000;
}

.iitb-cv-container .section-heading {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #292929;
    border-top: 2px solid #707070;
    border-bottom: 2px solid #707070;
    padding: 2px;
    margin: 0;
    margin-top: 10px;
}

/*
Table Styling Start
*/

.iitb-cv-container table {
    width: 100%;
}

.iitb-cv-container table .table-header {
}

.iitb-cv-container table tr td {
    padding: 0 10px 0 0;
}

.iitb-cv-container table .table-header th {
    color: #000;
    font-weight: bold;
    border-top: 2px solid #707070;
    border-bottom: 2px solid #707070;
}

/*
Table Styling End
*/

/*
List Styling Start
*/

.iitb-cv-container ul {
    list-style-type: circle;
    list-style-position: outside;
    margin-bottom: 0;
}

.iitb-cv-container ul li.heading {
    font-weight: bold;
    margin: 0;
    padding-left: 0;
}

.iitb-cv-container ul li.heading::marker {
    content: "";
}

.iitb-cv-container ul li {
    margin-left: 8px;
    padding-left: 5px;
}

.iitb-cv-container ul li::marker,
.list-table tr td::before {
    content: "\25cb";
    color: #000;
    font-size: 16px;
}

.list-table tr td::before {
    margin-right: 5px;
}

/*
List Styling End
*/

/*
Header Section Start
*/
.iitb-cv-container .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.iitb-cv-container .header .intro-block .intro-text {
    font-size: 16px;
    margin: 3px 0;
    color: #000;
    font-weight: 600;
}

.iitb-cv-container .header img {
    width: 90px;
}

/*
Header Section End
*/

/* Contact details starts */


.contactDetails-3 a{
    text-decoration: none;
    display: block;
    font-weight: bold;
    padding: 2px;
    color: whitesmoke;
}

.contactDetails-3 a:hover{
    color: green;
}

/* Contact details ends */


/*
Projects and POR Sections Start
*/

.iitb-cv-container .projects ul li.heading, .iitb-cv-container .pors ul li.heading {
    display: flex;
    justify-content: space-between;
}

.iitb-cv-container .projects ul li.heading span:nth-child(1),
.iitb-cv-container .pors ul li.heading span:nth-child(1) {
    display: flex;
}

.iitb-cv-container .projects ul li.heading span:nth-child(1) .timeline,
.iitb-cv-container .pors ul li.heading span:nth-child(1) .society {
    font-weight: normal;
    margin-left: 10px;
}

.iitb-cv-container .projects ul li.heading span:nth-child(2) {
    font-weight: normal;
    font-style: italic;
}


/*
Projects and POR Sections End
*/

/*
PORs Section Start
*/

.iitb-cv-container .pors ul li.heading span:nth-child(2) {
    font-weight: normal;
}

